body
{
    background-position: center;
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#numberofobjects,#start_btn
{
font-size: 18px;
}
canvas
{
    border-radius:15px;
    box-shadow: 10px 10px 10px yellow;
    margin-top: 30px;
    
}

